{eunit_opts, [verbose]}.
{deps, []}.

{profiles, [{docs, [
                    {deps, [edown]},

                    {edoc_opts, [{doclet, edown_doclet},
                                 {packages, false},
                                 {subpackages, true},
                                 {top_level_readme,
                                  {"./README.md", "http://gitlab.com/barrel-db/erlang-rocksdb"}}]}]}

           ]}.

{post_hooks, [
    {clean, "rm -f priv/*.so"},
    {clean, "rm -rf _build/cmake"},
    {compile, "sh -c \"(mkdir -p _build/cmake && cd _build/cmake && cmake ../../c_src $ERLANG_ROCKSDB_OPTS && make -j3)\""}
]}.
