{eunit_opts, [verbose]}.
{deps, []}.

{profiles, [{docs, [
                    {deps, [edown]},

                    {edoc_opts, [{doclet, edown_doclet},
                                 {packages, false},
                                 {subpackages, true},
                                 {top_level_readme,
                                  {"./README.md", "http://gitlab.com/barrel-db/erlang-rocksdb"}}]}]},
            {test, [
                    {erl_first_files, ["test/rocksdb_test_util.erl"]}
                   ]}

           ]}.

{pre_hooks, [{clean, "rm -f priv/*.so"},
             {clean, "rm -rf _build/cmake"},
             {"(linux|darwin|solaris)", compile, "./do_cmake.sh $ERLANG_ROCKSDB_OPTS"},
             {"(freebsd|netbsd|openbsd)", compile, "./do_cmake.sh $ERLANG_ROCKSDB_OPTS"},
             {"win32", compile, "mkdir _build\\cmake & cd _build\\cmake & cmake -DCMAKE_GENERATOR_PLATFORM=x64 -DWITH_BUNDLE_LZ4=ON -DWITH_BUNDLE_SNAPPY=ON ..\\..\\c_src"}
            ]}.





{post_hooks, [{"(linux|darwin|solaris)", compile, "./do_rocksdb.sh $ERLANG_ROCKSDB_BUILDOPTS"},
              {"(freebsd|netbsd|openbsd)", compile, "./do_rocksdb.sh $ERLANG_ROCKSDB_BUILDOPTS"},
              {"win32", compile, "cmake --build _build\\cmake --config Release --parallel"}
             ]}.

