name: test

on:
  pull_request:

jobs:
  macos:
    strategy:
      matrix:
        otp:
          - "28.2-2"
        rebar3:
          - "3.24.0"
    runs-on: macos-26
    steps:
      - uses: emqx/macos-erlang@f744c98139c0db83a10619587d4bae4fc49765a8 # v1.0.0
        with:
          otp-version: ${{ matrix.otp }}
          rebar3-version: ${{ matrix.rebar3 }}

      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
        with:
          submodules: recursive

      - name: test build
        run: make

  linux:
    strategy:
      matrix:
        builder:
          - "6.0-3:1.18.3-27.3.4.2-5"
          - "6.0-9:1.19.1-28.2-2"
        os:
          - ubuntu24.04

    runs-on: ubuntu-24.04

    container: ghcr.io/emqx/emqx-builder/${{ matrix.builder }}-${{ matrix.os }}

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
        with:
          submodules: recursive
      - name: gitconfig
        run: git config --system --add safe.directory ${PWD}
      - name: test build
        run: make
